page-pricing  {
    
.main_market{
    float: left;
    padding: 8px;
    width: 100%;
}

.crd{
    width:100%;
    margin: 0;
    background: #fffcfc;
}

.crd ion-card-header{
    font-family: Myriad-Bold;
    font-size: 14px;
    padding: 8px;
    text-transform: uppercase;
     white-space: normal;
}

.crd ion-card-content{
    color: #757575;
    font-family: Myriad-Semibold;
    font-size: 12px;
    line-height: 16px;
    padding: 0 8px;
    
}

}
