<ion-header>

  <ion-navbar>
    <ion-title>Job Description</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background:#f2f2f2;">

  <ion-card>
  <ion-card-header class="crd_head">
 <p no-margin>{{job_details_dec?.title}}</p>
  </ion-card-header>
  <ion-card-content class="crd_cnt">
    <p no-margin>{{job_details_dec?.scriptolutiondesc}}</p>
  </ion-card-content>
</ion-card>

 <ion-card>
  <ion-card-content class="crd_cnt">
   
    <ion-grid class="country_b">
    <ion-row>

     <ion-col col-12>
        <ion-grid no-padding>
            <ion-row>
              <ion-col col-6>Posted By:</ion-col>
              <ion-col col-6><span no-margin style="padding-right:37px;">{{job_details_dec?.username}}
              <ion-avatar class="jecob_pic" item-start  *ngIf="job_details_dec?.profilepicture">
              <img src="{{image_path}}{{job_details_dec?.profilepicture}}">
              </ion-avatar>
              <ion-avatar class="jecob_pic" item-start  *ngIf="!job_details_dec?.profilepicture">
                  <img src="{{image_path}}noprofilepicture.gif">
                  </ion-avatar>
              </span></ion-col>
              </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col col-12>
       <ion-grid no-padding>
        <ion-row>
              <ion-col col-6 *ngIf="date_format==Current_date">Posted Time:</ion-col>
              <ion-col col-6 *ngIf="date_format!=Current_date">Posted Date:</ion-col>
              <ion-col col-6> <span no-margin *ngIf="date_format==Current_date">{{job_details_dec?.created | date:'h:mm a'}}</span>
                <span no-margin *ngIf="date_format!=Current_date">{{job_details_dec?.created | date:'d/MM/yyyy'}}</span></ion-col>
              </ion-row>
              </ion-grid>
              </ion-col>
        </ion-row>

    <ion-row>
       <ion-col col-12>

      <ion-grid no-padding>
          <ion-row>
            <ion-col col-6>Element:</ion-col>
            <ion-col col-6>
              <span no-margin>{{job_details_dec?.element}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-col>
      <ion-col col-12>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-6>Quantity:</ion-col>
            <ion-col col-6><span no-margin>{{job_details_dec?.quantity}}</span></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>

    <ion-row [hidden]="job_details_dec?.element !='Gold'">
       <ion-col col-12>
      <ion-grid no-padding>
          <ion-row>
            <ion-col col-6>Carat:</ion-col>
            <ion-col col-6>
              <span no-margin>{{job_details_dec?.carat}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col col-12 >
        <ion-grid no-padding  >
          <ion-row *ngIf="job_details_dec?.color"> 
            <ion-col col-6>Color:</ion-col>
            <ion-col col-6><span no-margin>{{job_details_dec?.color}}</span></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>

    <ion-row>
       <ion-col col-12>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-6>Budget (USD):</ion-col>
            <ion-col col-6><span no-margin>{{job_details_dec?.scriptolutionprice}}</span></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      
      <ion-col col-12>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-6>Delivery Duration:</ion-col>
            <ion-col col-6><span no-margin>{{job_details_dec?.scriptolutiondays}} Days</span></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>

    <ion-row>
       <ion-col col-12>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-6>Job Status:</ion-col>
            <ion-col col-6><span no-margin *ngIf="job_details_dec?.status=='0'">New</span>
         <span no-margin *ngIf="job_details_dec?.status=='1'">Active</span>
           <span no-margin  *ngIf="job_details_dec?.status!='0' && job_details_dec?.status!='1'">Closed</span></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      
      <ion-col col-12>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-6>Proposal(s):</ion-col>
            <ion-col col-6><span no-margin>{{job_details_dec?.totaloffers}} Offers</span></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>


    <ion-row [hidden]='fileSelected == 0'>
      <ion-col col-4 >Download Attachment</ion-col>
      <ion-col col-8 text-right>
          <ion-avatar class="atch_dnld" item-start *ngIf="this.subbmit_image==0">
              <img src="{{doc_submit}}{{job_details_dec?.image}}" (click)="presentImage(doc_path,offer_show?.file)" imageViewer>
            </ion-avatar>
        <button class="attach_pic"  (click)="download()">{{job_details_dec?.image}}</button>
      </ion-col>
  </ion-row>
<ion-icon name="globe" class="glb"><span> AMERICA</span></ion-icon>
<button ion-button small color="yellow" class="submit" (click)="viewoffersPage(job_details_dec?.REQUESTID)" [hidden]='job_details_dec?.totaloffers == 0' >View Offers</button>

</ion-grid>

  </ion-card-content>
</ion-card>

</ion-content>
