<ion-header>

  <ion-navbar>
    <ion-title>Resend link</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding style="background: #f1f1f1;">
<div class="logo email_desc"><img src="assets/images/logo.png" /></div>

<ion-list class="log_list">
  <form #heroForm="ngForm"  >
<!-- <h3 class="fw">FORGOT PASSWORD</h3> -->
 <ion-item no-padding style="background:transparent;">
    <ion-input type="text" placeholder="Enter Your Email Id" [(ngModel)]="data.email" name="email" #email="ngModel"></ion-input>
  </ion-item>
  <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
		   <div [hidden]="!email.errors.required" class="alert alert-danger">
			 E-mail is required
			</div>
			<div [hidden]="!email.errors.pattern" class="alert alert-danger">
			 Invalid E-mail
			</div>
		</div>
<!-- <p *ngIf="!isValid('email')" danger padding-left>Invalid Email</p> -->

<button ion-button block  color="yellow" class="submit mrgn_btn" [disabled]="!heroForm.form.valid"  (click)="rsend(heroForm)">RESEND LINK</button>
<!-- (click)="signiPage();" -->
</form>
</ion-list>
</ion-content>
