
<ion-header>

  <ion-navbar>
    <ion-title>View Offers</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background:#f2f2f2;">

  <ion-card>
  <ion-card-header class="crd_head">
 <p no-margin>{{view_offersss?.title}}</p>
  </ion-card-header>
  <ion-card-content class="crd_cnt">
    <p no-margin>{{view_offersss?.scriptolutiondesc}}</p>
  </ion-card-content>
</ion-card>

 <ion-card>
  <ion-card-content class="crd_cnt">
   
    <ion-grid class="country_b">
    <ion-row>

     <ion-col col-12>
        <ion-grid no-padding>
            <ion-row>
              <ion-col col-6>Posted By:</ion-col>
              <ion-col col-6><span no-margin style="width: 100%; float: left;">
              <ion-avatar class="pic_pture" item-start *ngIf="view_offersss?.profilepicture">
              <img src="{{image_path}}{{view_offersss?.profilepicture}}">
              </ion-avatar>
              <ion-avatar class="pic_pture" item-start *ngIf="!view_offersss?.profilepicture">
                <img src="{{image_path}}noprofilepicture.gif">
                </ion-avatar>
                <span class="nme_sers">{{view_offersss?.username}}</span>
              </span></ion-col>
              </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col col-12>
       <ion-grid no-padding>
        <ion-row>
              <ion-col col-6>Posted Date:</ion-col>
              <ion-col col-6> <span no-margin>{{view_offersss?.created | date:'d/MM/yyyy'}}</span></ion-col>
              </ion-row>
              </ion-grid>
              </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12>
   
         <ion-grid no-padding>
             <ion-row>
               <ion-col col-6>Element:</ion-col>
               <ion-col col-6>
                 <span no-margin>{{view_offersss?.element}}</span>
               </ion-col>
             </ion-row>
           </ion-grid>
   
         </ion-col>
         <ion-col col-12>
           <ion-grid no-padding>
             <ion-row>
               <ion-col col-6>Quantity:</ion-col>
               <ion-col col-6><span no-margin>{{view_offersss?.quantity}}</span></ion-col>
             </ion-row>
           </ion-grid>
         </ion-col>
       </ion-row>

       <ion-row [hidden]="view_offersss?.element =='Silver'">
        <ion-col col-12>
       <ion-grid no-padding>
           <ion-row>
             <ion-col col-6>Carat:</ion-col>
             <ion-col col-6>
               <span no-margin>{{view_offersss?.carat}}</span>
             </ion-col>
           </ion-row>
         </ion-grid>
       </ion-col>
       <ion-col col-12>
         <ion-grid no-padding>
           <ion-row>
             <ion-col col-6>Color:</ion-col>
             <ion-col col-6><span no-margin>{{view_offersss?.color}}</span></ion-col>
           </ion-row>
         </ion-grid>
       </ion-col>
 
       
     </ion-row>

    <ion-row>
       <ion-col col-12>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-6>Budget (USD):</ion-col>
            <ion-col col-6><span no-margin>{{view_offersss?.scriptolutionprice}}</span></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      
      <ion-col col-12>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-6>Delivery Duration:</ion-col>
            <ion-col col-6><span no-margin>{{view_offersss?.scriptolutiondays}} Days</span></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>

    <ion-row>
       <ion-col col-12>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-6>Job Status:</ion-col>
            <ion-col col-6><span no-margin *ngIf="view_offersss?.status=='0'">New</span>
           <span no-margin *ngIf="view_offersss?.status=='1'">Active</span>
            <span no-margin  *ngIf="view_offersss?.status!='0' && view_offersss?.status!='1'">Closed</span></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      
      <ion-col col-12>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-6>Proposal:</ion-col>
            <ion-col col-6><span no-margin>{{lenght_offer}} Offers</span></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <!-- *ngIf="view_offersss?.status==1 || lenght_release !=0"  -->
    <button class="btn btn-default button_ylw" *ngIf="view_offersss?.status==1 || lenght_release !=0" (click)="restr_clk(view_offersss?.REQUESTID,view_offersss?.offer_userid)">Release payment </button>
    <button class="btn btn-default button_ylw" style="margin-top:7px;"   *ngIf="view_offersss?.status > 0" (click)="ship_the_product(view_offersss?.REQUESTID)">Ship the product </button> 
    <div class="trck_btn">
    <button class="btn btn-default button_ylw tcking_lft"  *ngIf="lenght_release !=0">Payment Details</button></div>
  <!-- <div  *ngIf="view_offersss?.status=='1'" (click)="restr_clk(view_offersss?.REQUESTID,start_offer)">Release payment </div> -->
    <ion-grid style="padding:0px;" *ngIf="lenght_release !=0">
      <ion-row>
        <ion-col col-1 style="padding-bottom:0px;">
        <div class="table_stle tble_colmn">
          <span class="tble_wdht">S.No.</span>
        </div>
      </ion-col>

        <ion-col col-4 style="padding-bottom:0px;">
          <div class="table_stle tble_colmn">
            <span class="tble_wdht">Description</span>
          </div>
        </ion-col>

          <ion-col col-3 style="padding-bottom:0px;">
            <div class="table_stle tble_colmn">
              <span class="tble_wdht">Price (USD)</span>
             
            </div>
          </ion-col>
            <ion-col col-4 style="padding-bottom:0px;">
              <div class="table_stle tble_colmn">
                <span class="tble_wdht">Date/Time</span>
              </div>
        </ion-col>
      </ion-row>

      <ion-row style="height: 19px; " *ngFor="let release of release_payment let i=index">
        <!-- <div >  -->
        <ion-col col-1 style="padding-top:0px;">
          <div class="table_stle">
            <span class="tble_rw">{{i+1}}</span>
          </div>
        </ion-col>
  
          <ion-col col-4 style="padding-top:0px;">
            <div class="table_stle">
              <span class="tble_rw">{{release.amount_description}}</span>
            </div>
          </ion-col>
  
            <ion-col col-3 style="padding-top:0px;">
              <div class="table_stle">
                <span class="tble_rw">{{release.amount}} </span>
              </div>
            </ion-col>
  
              <ion-col col-4 style="padding-top:0px;">
                <div class="table_stle">
                  <span class="tble_rw">{{release.created | date:'MMM d, yyyy h:mm'}}</span>
                </div>
              </ion-col>
              <!-- </div> -->
      </ion-row>

      
    </ion-grid>
    <!-- <div  *ngIf="view_offersss?.status=='1'" (click)="restr_clk(view_offersss?.REQUESTID,start_offer)">Release payment </div> -->
    <!-- <div *ngIf="lenght_release !=0">
      <div   *ngFor="let release of release_payment"> 
    <div>Sr no. 1</div>
    <div>Description {{release.amount_description}}</div>
    <div>Price {{release.amount}} </div>
    <div>Due Date {{release.created | date:'MMM d, yyyy h:mm'}} </div>
   </div>
  </div> -->
  <div class="trck_btn">
      <button class="btn btn-default button_ylw tcking_lft"  *ngIf="shipping_lenght !=0">Tracking details</button>
    </div>
    <!-- <div  *ngIf="view_offersss?.status=='1'" (click)="restr_clk(view_offersss?.REQUESTID,start_offer)">Release payment </div> -->
      <ion-grid style="padding:0px;" *ngIf="shipping_lenght !=0">
        <ion-row>
          <ion-col col-1 style="padding-bottom:0px;">
          <div class="table_stle tble_colmn">
            <span class="tble_wdht">S.No.</span>
          </div>
        </ion-col>
  
          <ion-col col-4 style="padding-bottom:0px;">
            <div class="table_stle tble_colmn">
              <span class="tble_wdht">Tracking Number</span>
            </div>
          </ion-col>
  
            <ion-col col-3 style="padding-bottom:0px;">
              <div class="table_stle tble_colmn">
                <span class="tble_wdht">Track Here</span>
              </div>
            </ion-col>
              <ion-col col-4 style="padding-bottom:0px;">
                <div class="table_stle tble_colmn">
                  <span class="tble_wdht">Date/Time</span>
                </div>
          </ion-col>
        </ion-row>
  
        <ion-row style=" height: 19px; " *ngFor="let release_ship of my_shipping let i=index">
          <!-- <div >  -->
          <ion-col col-1 style="padding-top:0px;">
            <div class="table_stle">
              <span class="tble_rw">{{i+1}}</span>
            </div>
          </ion-col>
    
            <ion-col col-4 style="padding-top:0px;">
              <div class="table_stle">
                <span class="tble_rw">{{release_ship.tracking_number}}</span>
              </div>
            </ion-col>
    
              <ion-col col-3 style="padding-top:0px;" (click)="fedex()">
                <div class="table_stle">
                  <span class="tble_rw" style="color:#5563c9; text-decoration: underline;">Click here</span>
                </div>
              </ion-col>
    
                <ion-col col-4 style="padding-top:0px;">
                  <div class="table_stle">
                    <span class="tble_rw">{{release_ship.created | date:'MMM d, yyyy h:mm'}}</span>
                  </div>
                </ion-col>
                <!-- </div> -->
        </ion-row>
  
        
      </ion-grid>

</ion-grid>

  </ion-card-content>
</ion-card>
<div class="ofer_mine" >
  <h4>Offers</h4>
  <div class="offer_text" *ngFor="let col of offer_lenght">
    <div class ="{{col.class}}">
    <ion-grid>
  <ion-row>
    <ion-col col-12 style="padding:0px;">
   <h5 class="txt_desc">Description</h5>
   <p class="desc_txt">{{col.scriptolutionmsg}}</p>
   <div class="pic_cvr" *ngIf="col?.profilepicture" >
     <img src="{{image_path}}{{col.profilepicture}}">
   </div>
   <div class="pic_cvr" *ngIf="!col?.profilepicture" >
      <img src="{{image_path}}noprofilepicture.gif">
    </div>
     <span class="pic_img">{{col.username}}</span>
    </ion-col>
     <ion-col col-12 style="padding:0px;">
       <div class="lst_ofer">
         <ul>
          <li><p class="bill_head">Offer Amount (USD):</p><span> {{col.bid_amount}}</span></li>
          <li><p class="bill_head">Delivery Duration</p><span> {{col.delivery_day}} Days</span></li>
          <li  *ngIf="col.status==6 && view_offersss.status==2"><p class="bill_head">Status:</p><span> Completed</span></li>
      </ul>
       </div>

       

     </ion-col>
  </ion-row>
 
  <ion-row *ngIf="col?.file">
  <!-- <ion-row *ngIf="col?.file"> -->
      <ion-col col-4 style="padding:0px;" class="bill_head">Download Attachment</ion-col>
      <ion-col col-8 text-right>
          <ion-avatar class="atch_dnld" item-start *ngIf="show_image==0" >
              <img src={{doc_path}}{{col?.file}} (click)="presentImage(doc_path,col?.file)" imageViewer>
              </ion-avatar>
       
        <button class="attach_pic"  (click)="download(col?.file)">{{col?.file}}</button>
      </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-6>
    <div class="lst_on" *ngIf="(col.status==6 ) &&  (view_offersss?.review != null || view_offersss?.review != '')">
      <ul>
        <li><div class="dta_lst">Rating:</div>
          <rating [(ngModel)]="rating.rate"   class="rte_on" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false" readOnly="true" ></rating></li>
        <li><div class="dta_lst">Review: </div><span class="cnt_lst">{{view_offersss?.review}}</span></li>
      </ul>


    </div>
    <div class="rte_crs" *ngIf="col.status==6 && view_offersss.status==2 && (view_offersss.review =='' || view_offersss.review == null) " (click)="rate_clk();">
        <button class="btn btn-default txt_lv">Rate Job</button>
     </div>
     
     <!-- <div class="rte_crs" (click)="rate_clk();" >
        <button class="btn btn-default txt_lv">Show rateftty</button>
     </div> -->
     <div class="crs_1" *ngIf="col.status==1 && view_offersss.status==0" (click)="send_invitation(col.SCRIPTOLUTIONOFID,col.USERID,col.REQUESTID)">
        <button class="btn btn-default txt_lv">Accept Offer</button>
     </div>
     <div class="crs_1"  *ngIf="col.status==2 && view_offersss.status==0">
        <button class="btn btn-default txt_lv">Invitation Sent</button>
     </div>
     <div class=" crs_1" *ngIf="col.status==4 && view_offersss.status==0">
        <button class="btn btn-default txt_lv">Invitation Rejected</button>
     </div>
     <div class="rte_crs"*ngIf="col.status==3 && view_offersss.status==0" (click)="presentConfirm(col.SCRIPTOLUTIONOFID,col.USERID,col.REQUESTID)">
        <button class="btn btn-default txt_lv">Start Job</button>
     </div>
     <div class="rte_crs" *ngIf="col.status==5 && view_offersss.status==1" (click)="end_job_alert( col.REQUESTID,col.SCRIPTOLUTIONOFID,col.USERID)">
        <button class="btn btn-default txt_lv">End Job</button>
     </div>
    </ion-col>
      <ion-col col-6 >
   
 <div class="rte_crsss">
    <button class="btn btn-default txt_lv" (click)="chatPage(col.USERID,col.username)">Message</button>
 </div>
  <!-- <div class="rte_crs">
      <button class="btn btn-default txt_lv">xx Rate</button>
    </div> -->
    <!-- <button *ngIf="col.status==6 && view_offersss.review != null " class="rte_alrt" ion-button color="light"  (click)="rate_clk();" >Show rate</button>
    <!-<button class="txt_desc"  *ngIf="col.status==6 && view_offersss.status==2 && (view_offersss.review =='' || view_offersss.review == null) ">Rate job</button> -->
    <!-- <button class="lv_chrgr">Message</button>
    <button class="txt_desc"  *ngIf="col.status==1 && view_offersss.status==0" (click)="send_invitation(col.SCRIPTOLUTIONOFID,col.USERID,col.REQUESTID)">Send invitation</button>
    <button class="txt_desc"  *ngIf="col.status==2 && view_offersss.status==0" >Invitation Sent</button>
    <button class="txt_desc"  *ngIf="col.status==4 && view_offersss.status==0" >Invitation Rejected </button>
    <button class="txt_desc"  *ngIf="col.status==3 && view_offersss.status==0" (click)="presentConfirm(col.SCRIPTOLUTIONOFID,col.USERID,col.REQUESTID)" >Start job </button>
    <button class="txt_desc"  *ngIf="col.status==5 && view_offersss.status==1" (click)="endjob(col.SCRIPTOLUTIONOFID,col.USERID,col.REQUESTID)" >End job </button> --> 
  </ion-col>
  </ion-row>

</ion-grid>
    </div>
  </div>
</div>

<!-- <form  #heroForm="ngForm">
<h4 style="color: #00b0e8">Angular 2 Rating - Stars Example</h4>
<h5>bowdaa Rating <b>{{currentRate}}</b></h5>
<rating  [(ngModel)]="currentRate" name="currentRate"></rating>
<ion-input type="text" [(ngModel)]="web_rating" name="web_rating"></ion-input>
<h5>Job Rating <b>{{jobstar}}</b></h5>
<rating  [(ngModel)]="jobstar"  name="jobstar"></rating>
<ion-input type="text" [(ngModel)]="job_rating" name="job_rating"></ion-input>
<button type="submit" style="color: #00b0e8" (click)="submit_rating(heroForm)">SUBMIT</button>
</form> -->





<!-- <span class="label"
      [ngClass]="{'label-warning': ratingPercent<30, 'label-info': ratingPercent>=30 && ratingPercent<70, 'label-success': ratingPercent>=70}"
      [ngStyle]="{display: (overStar && !isRatingReadonly) ? 'inline' : 'none'}">{{ratingPercent}}%</span>
<hr/>

<h4 style="color: #00b0e8">Angular 2 Rating With <b>Custom icons</b></h4>
<h5><b>(<i>Current Rate:</i> {{rateValueExample1}})</b></h5>
<div>
  <rating [(ngModel)]="rateValueExample1" max="10" stateOn="glyphicon-heart"
          stateOff="glyphicon-ok-circle"></rating>
</div>
<hr/>

<h4 style="color: #00b0e8">Angular 2 Rating With <b>Custom icons</b></h4>
<h5><b>(<i>Current Rate:</i> {{rateValueExample2}})</b></h5>
<div>
  <rating [(ngModel)]="rateValueExample2" [ratingStates]="ratingStatesItems"></rating>
</div> -->

<!-- <button ion-button color="light" class="rte_alrt" (click)="rate_clk();">Rate Job</button> -->


</ion-content>
